/*color*/
:root{
    --general-text-color: #757575;
    --title-text-color: #212121;
    --contact-color: #FFFFFF;
    --web-color: #2196F3;
    --backgraund-color-general: #E5E5E5;
    --second-backgraund-color: #F5F4FA;
    --footer-color: #2F303A;
}

body
{
    font-family: Roboto, sans-serif;
    color: var(--general-text-color);
    background-color: var(--backgraund-color-general);
    letter-spacing: 0.03em;
}
/*index-html*/
/*шапка*/
.header{
    background-color: #FFFFFF;
}
.logo {
    font-family: Ralewey, sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: var(--title-text-color);
    line-height: 1.2;
    text-decoration:none
}
.web {
    color: var(--web-color);
}
.site-nav {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration:none
}
.site-nav:hover {
    color: var(--web-color);
}
.site-nav:focus {
    color: var(--web-color);
}
.site-nav.current{
    color: var(--web-color);
}
.contact {
    color: var(--general-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration:none
}
.contact:hover {
    color: var(--web-color);
}
.contact:focus {
    color: var(--web-color);
}
/*main*/
/*Заказать услугу*/
.order-section {
    background-color: #2F303A;
}
.order-title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}
.button-order {
    background-color: #2196F3;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    font-family: inherit;
    letter-spacing: 0.06em;
}
/*секция с преимуществами*/
.advantage h3{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    color: var(--title-text-color);
}
.advantage p{
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
}
/*секция чем мы занимаемся*/
.description{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    color: var(--title-text-color);
}
/*секция наша команда*/
.our-team{
    background-color: var(--second-backgraund-color);
}
.our-team-description{
    font-weight: bold;
    font-size: 36px;
    color: var(--title-text-color);
}
.our-team li{
    background-color: #FFFFFF;
}
.our-team h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.16;
    color: var(--title-text-color);
}
.our-team p{
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
}
/*подвал*/
.footer{
    background-color: var(--footer-color);
    color: #FFFFFF;
}
.logo-footer{
    font-family: Ralewey, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    color: var(--contact-color);
    text-decoration:none
}
.address{
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
}
.footer-contact{
    color: rgba(255, 255, 255, 0.6);
    text-decoration:none
}
/*portfolio-html*/
/*меню портфолио*/
.portfolio-list{
    background-color: var(--contact-color);
}
.button-portfolio{
    background-color: var(--second-backgraund-color);
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    cursor: pointer;
    font-family: inherit;
}
.button-portfolio:hover{
    background-color: var(--web-color);
    color: var(--contact-color);
}
/*опции(список) портфолио*/
.portfolio-list h3{
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolio-list p{
    font-weight: normal;
    font-size: 16px;
    line-height: 1.88;
}
